/**
 * Student name:    Kirstine Brørup Nielsen
 * Student id:      100527988
 * Date:            18.10.2016
 * Assignment:      EzyHire
 * Version:         1.0
 * File:            main.css
 */

.title {
	font-size: 50px;
	padding-left: 50px;
	padding-top: 30px;
	text-align: left;
}

.noPadding {
	padding: 0px;
}

.paddingRight {
	padding-right: 50px;
}

.marginTopBottom {
	margin-bottom: 20px;
	margin-top: 10px;
}

.errRed {
	padding: 5px;
	margin: 0px;
}

.greenMessage {
	color: green;
}

#myInput {
	background-image: url('../img/search_icon.png'); /* Add a search icon to input */
	background-position: 10px 12px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	width: 60%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	margin-bottom: 12px; /* Add some space below the input */
}

.preserveWhiteSpace {
	white-space: pre;
}

#myFooter {
	background-color: #636b6f;
	padding-top: 16px;
}

#map {
	height: 800px;
	width: 100%;
}

/******** logo image shall NOT appear ********/
@media only screen and (max-width: 992px) {
	#logoCar {
		display: none;
	}

	.title {
		font-size: 24px;
		padding-left: 0px;
		padding-top: 0px;
		text-align: left;
	}
}
