/**
* Name:		Kirstine Broerup Nielsen
* Date:     14.05.2017
* Project:  OmniFood
* Version:  1.0
 */
 
/*
* {
	border: 1px solid red !important;
}
*/

/* To avoid navbar overlaps the body content */
body { 
	padding-top: 80px; 
}

input[type="radio"]{
  	margin: 0 5px 0 18px;
}

#radioBtnZero {
	margin: 0 5px 0 0;
}

h4 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

.rowBottomPadding, .colBottomPadding {
	padding-bottom: 12px;
}

.counter {
	vertical-align: bottom;
}

.txtAreaNonEdge {
	border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ratingImage {
	width: 28px;
}


.ratingImagePoo {
	width: 34px;
}

.ratingImageSmallVersion {
	width: 20px;	
}

.ratingImagePooSmallVersion {
	width: 20px;	
}

.leftPadding {
	padding-left: 12px;
}

.imageHundredPercentWidth {
	width: 100%;
}


h4, h6 {
    display: inline-block;
}

#statusHome {
	text-align: right;
}

.foodImageRow, .foodRatingRow {
	padding-bottom: 20px;
}

#myInput {
	background-image: url('../img/search_icon.png'); /* Add a search icon to input */
	background-position: 4px 4px; /* Position the search icon */
	background-repeat: no-repeat; /* Do not repeat the icon image */
	/*width: 60%; /* Full-width */
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 32px; /* Add some padding */
	border: 1px solid #ddd; /* Add a grey border */
	/*margin-bottom: 12px; /* Add some space below the input */	
}

.inputFieldPaddingBottom {
	margin-bottom: 4px;
}

.errorMessageStyling {
	padding-top: 3px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 3px;
	
	margin-bottom: 0px;
}

#navbarUserName, #newButtonSmallScreen {
	margin-right: 16px;
}

/* needs this to align correct*/
#newButtonBigScreen {
	margin-right: 0px;
}

.myNavbarItem:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;	
}

.btnActiveClicked {
	font-weight: bold;
	/*
	background-color: #31b0d5;*/
	border-color: #6d8383;
}

.btnHover {
	font-weight: bold;
	border-color: #6d8383;
}

.aboutImagePaddingTop {
	padding-top: 24px;	
}

#contactUsCol {
    text-align: right;
}


/* To ensure the navbar doesn't display any wider than max-width */
#myContainerFluid {
	max-width: 1600px;
}

.countryNamePadding, .datePadding, .entry {
	padding-bottom:8px;
}


@media (min-width:768px) {
	#newButtonFormSmallScreen {
		display: none;
	}
}

@media (max-width:768px) {
	/*for navbar not to overlap content*/
	body { 
		padding-top: 64px; 
	}
	
	#newButtonFormBigScreen {
		display: none;
	}
	
	.countryNamePadding {
		padding-top:8px;
	}	
	
	.imageHundredPercentWidth {
	padding-bottom: 12px;
	
	}
	
	#contactUsCol {
    	text-align: left;
    	padding-top: 24px;
    	padding-bottom: 24px;
	}
}


@media (max-width:300px) {
	#omniFoodLogo {
		font-size:14px;
	}
}

/******************** Above is used for OmniFood **************************/








/******** logo image shall NOT appear ********/
@media only screen and (max-width: 992px) {
	#logoCar {
		display: none;
	}

	/*.title {
		font-size: 24px;
		padding-left: 0px;
		padding-top: 0px;
		text-align: left;
	}*/
}
